<div class="flex-container big-div">
    <div class="list-group left" ng-repeat="movable in vm.movables">
        <a class="list-group-item list-group-item-action list-group-item-light" ng-class="{active : vm.activeMovable == movable}" ng-click="vm.setActiveMovable(movable)">{{movable.name}}</a>
    </div>
    <div class="list-group right" ng-repeat="tool in vm.tools">
        <a class="list-group-item list-group-item-action list-group-item-light" ng-class="{active : vm.activeTool == tool}" ng-click="vm.setActiveTool(tool)">{{tool.name}}</a>
    </div>
</div>