<div>
  <h2>Available Users</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>User</th>
                  <th>available<th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="reveiced in vm.receivedUsers">
                <td>{{reveiced.userName}}</td>
                <td>{{reveiced.available}}</td>
                <td>
                  <button class="btn btn-success" ng-click="vm.chatWith($index)"
                          ng-disabled = "!reveiced.available"
                        >chat with user <i class="glyphicon glyphicon-comment"/></button>
                  <button class="btn btn-success" ng-click="vm.videochatWith($index)"
                          ng-disabled = "!reveiced.available"
                        >call user <i class="glyphicon glyphicon-facetime-video"/></button>
                </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
