<div class="big-div">
    <div class="flex-container no-padding-bottom no-padding-left no-padding-right">
        <button class="btn btn-info btn-sm" ng-click="vm.switchToPrevious()" ng-disabled="!vm.hasPrevious">
          <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <ul class="nav nav-tabs nav-justified" ng-repeat="task in vm.tasks">
            <li ng-class="vm.isActive(task)" ng-click="vm.changeTask(task)">
                <a>Task: {{task.name}}</a>
            </li>
        </ul>
        <button class="btn btn-info btn-sm" ng-click="vm.switchToNext()" ng-disabled="!vm.hasNext">
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
    </div>
    <div class="big-div color-white nav-tab-content">
        <h4>{{vm.activeTask.description}}</h4>
    </div>
</div>