<div>
  <h2> Video Chat</h2>
  <div id='container'>

      <!-- <button ng-click="vm.resetCanvas()" class="btn btn-warning">
        reset canvas <i class="glyphicon glyphicon-refresh"/>
      </button> -->

      <!-- <div class="btn-group btn-group-vertical right" role="group" ng-repeat="tool in vm.tools">
        <button type="button" class="btn btn-secondary" ng-class="{active : vm.activeTool == tool}" ng-click="vm.setActive(tool)">{{tool}}</button>
      </div> -->

      <expertcontrols scene="vm.scene" rollovermesh="vm.rollOverMesh" gridhelper="vm.gridHelper" raycaster="vm.raycaster" expertcamera="vm.view2Cam" plane="vm.plane"/>
      <!-- <div class="list-group" ng-repeat="movable in vm.movables">
       <a class="list-group-item list-group-item-action list-group-item-light" ng-class="{active : vm.activeMovable == movable}" ng-click="vm.setActiveMovable(movable)">{{movable.name}}</a>
     </div>

       <div class="list-group right" ng-repeat="tool in vm.tools">
        <a class="list-group-item list-group-item-action list-group-item-light" ng-class="{active : vm.activeTool == tool}" ng-click="vm.setActive(tool)">{{tool.name}}</a>
      </div> -->

      <div id='canvas2'>
    </div>

      <div id='videos'>
        <div id='canvas1' class='my-drawing-canvas is-absolut '/>
          <video id='video' class='my-video is-absolut ' autoplay muted></video>
        </div>
      </div>
    </div>
</div>
