<div>
    <jhi-alert></jhi-alert>
    <h2>Scenarios</h2>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scenario in vm.scenarios track by scenario.id">
                    <td>{{scenario.name}}</td>
                    <td>{{scenario.description}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="vm.callExpert(scenario.availableExperts)" ng-disabled="!vm.hasAvailable(scenario)">
                          Call Expert
                          <i class="glyphicon glyphicon-facetime-video"/>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>