<div>
    <h2>Scenarios</h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Agents</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scenario in vm.scenarios track by scenario.id">
                    <td><a ui-sref="scenario-detail({id:scenario.id})">{{scenario.id}}</a></td>
                    <td>{{scenario.name}}</td>
                    <td>{{scenario.description}}</td>
                    <td>{{scenario.availableAgents.length}} of {{scenario.agents.length}} online</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>